.page-dashboard {
    .tasks-plank {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 45px;
        padding: 22px 18px;
        background-color: #fbebe8;
        box-shadow: 19px 21px 50px rgba(176, 195, 210, 0.727846), -8px 0px 8px rgba(244, 248, 251, 0.50254), -8px -40px 22px rgba(246, 251, 255, 0.384288), -11px -11px 20px rgba(255, 255, 255, 0.272044);
        border-radius: 20px;

        .icon {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin: 0 20px 0 0;
            width: 56px;
            height: 56px;
            background-color: rgba(255, 185, 70, 0.1);
        }

        .label {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #334669;
        }

        &.completed {
            background-color: #e8fbf8;
        }
    }

    h3 {
        margin: 0 0 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #334669;
    }

    ul.articles {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 30px;
        padding: 0;
        list-style: none;
        overflow-x: auto;

        > li {
            a {
                display: block;
                text-decoration: none;
                outline: none;
                box-shadow: none;

                img {

                }
            }

            + li {
                margin-left: 20px;
            }
        }
    }
}
