.page-dashboard {
    h3 {
        margin: 0 0 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #334669;
    }

    ul.articles {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 30px;
        padding: 0;
        list-style: none;
        overflow-x: auto;

        > li {
            a {
                display: block;
                text-decoration: none;
                outline: none;
                box-shadow: none;

                img {

                }
            }

            + li {
                margin-left: 20px;
            }
        }
    }
}
