.page-indication-add {
    ul.indication-add {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            margin: 0 0 10px;

            .button {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                padding: 4px;

                .icon {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 56px;
                    height: 56px;
                    margin: 0 24px 0 0;
                    border-radius: 12px;

                    img {
                        display: block;
                        width: 25px;
                        height: 25px;
                        object-fit: scale-down;
                        object-position: center center;
                    }
                }

                .label {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #334669;
                }

                &.type-pressure .icon {
                    background-color: rgba(254, 170, 160, 0.1);
                }

                &.type-temperature .icon {
                    background-color: #f1c57e;
                    background-color: rgba(254, 170, 160, 0.1);
                }

                &.type-liquid .icon {
                    background-color: #a0b5fe;
                    background-color: rgba(160, 181, 254, 0.1);
                }

                &.type-toilet .icon {
                    background-color: #a0edfe;
                    background-color: rgba(160, 237, 254, 0.1);
                }

                &.type-sleep .icon {
                    background-color: #cd8aca;
                    background-color: rgba(205, 138, 202, 0.1);
                }

                &.type-pain .icon {
                    background-color: #ff3737;
                    background-color: rgba(255, 55, 55, 0.1);
                }

                &.type-skin .icon {
                    background-color: #ffb946;
                    background-color: rgba(255, 185, 70, 0.1);
                }

                &.type-walk .icon {
                    background-color: #2861b6;
                    background-color: rgba(40, 97, 182, 0.1);
                }

                &.type-dosug .icon {
                    background-color: #1ad27a;
                    background-color: rgba(26, 210, 122, 0.1);
                }
            }
        }
    }
}
