.page-main {
    img.logo {
        display:         block;
        width:           80px;
        height:          80px;
        margin:          0 auto 30px;
        object-position: center center;
        object-fit:      scale-down;
    }

    ul.menu {
        margin:     0;
        padding:    0;
        list-style: none;

        > li {
            margin: 0 0 15px;

            .button {
                padding: 15px;
            }
        }
    }
}
