.page-quiz-norton-results {
    h3 {
        margin: 0 0 25px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #334669;
    }

    p {
        margin: 0 0 15px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #334669;
    }

    .img-wrapper {
        margin: 0 0 25px;

        img {
            display: block;
            max-width: 100%;
            width: auto;
            height: auto;
            margin: 0 auto;
        }
    }
}
