.page-todo-list {
    ul.todo-list {
        list-style: none;
        padding:    0;
        margin:     0;

        > li {
            margin: 0 0 5px;

            input[type="checkbox"] {
                display: none;

                + label {
                    display:         flex;
                    flex-direction:  row;
                    flex-wrap:       nowrap;
                    justify-content: flex-start;
                    align-items:     center;
                    margin:          0;
                    padding:         5px 0;

                    .checkbox {
                        transition:       background-color 0.15s, border-color 0.15s;
                        flex-shrink:      0;
                        width:            16px;
                        height:           16px;
                        margin:           0 10px 0 0;
                        border:           2px solid #aaaaaa;
                        border-radius:    2px;
                        background-color: transparent;
                    }

                    .name {
                        flex-grow:   1;
                        flex-basis:  0;
                        font-size:   15px;
                        line-height: 24px;
                        font-weight: 400;
                        color:       #555555;
                    }

                    .time {
                        transition:  color 0.15s;
                        flex-shrink: 0;
                        font-size:   15px;
                        line-height: 24px;
                        font-weight: 700;
                        color:       #555555;
                    }
                }

                &:checked {
                    + label {
                        .checkbox {
                            background-color: var(--primary);
                            border-color:     var(--primary);
                        }

                        .name {
                            text-decoration: line-through;
                            color:           #888888;
                        }

                        .time {
                            text-decoration: line-through;
                            color:           #888888;
                        }
                    }
                }
            }
        }
    }
}
