*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    color: #334669;
}

html, body {
    margin: 0;
    padding: 0;
    background: #e4f0fa;
    font-family: 'Inter', 'Liberation Sans', Roboto, sans-serif;
    font-size: 14px;
    color: #334669;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
