*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin:      0;
    padding:     0;
    background:  #f0f0f0;
    font-family: 'Liberation Sans', Roboto, sans-serif;
    font-size:   14px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
