.page-date-selector {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: center;
    align-items:     center;
    margin:          25px 0;

    a {
        transition:      opacity 0.15s;
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: center;
        align-items:     center;
        margin:          0;
        padding:         10px;

        &:after {
            content:             '';
            display:             block;
            width:               12px;
            height:              12px;
            background-repeat:   no-repeat;
            background-position: center center;
        }

        &.prev-date {
            &:after {
                background-image: url(/img/icons/arrow-left.svg);
            }
        }

        &.next-date {
            &:after {
                background-image: url(/img/icons/arrow-right.svg);
            }
        }

        &.disabled {
            pointer-events: none;
            opacity:        0.35;
        }
    }

    span {
        min-width:   120px;
        text-align:  center;
        font-size:   18px;
        line-height: 24px;
        color:       #777777;
        font-weight: 600;
    }
}
